{% extends "common/base.html"%}


{% block content %}
<div style="position: fixed;top: 100px;right: 8%">
    <img src="{% static '/img/paid_limit.png'%}">
    <!--#4EEE94 绿色-->
    <!--#EEC900  黄色-->
    <!--#FF7F50  橙色-->
    <!--#FF0000 /鲜红/-->
    <!--#8B0000 /深色/-->
    <span style="position: fixed;top: 200px;right: 5%;text-shadow: 1px 1px black;font-size: 20px;color:
    {% if normal_limit >= 0.95 %}
        #4EEE94
    {% elif normal_limit >= 0.8 %}
        #EEC900
    {% elif normal_limit >= 0.7 %}
        #FF7F50
    {% elif normal_limit >= 0.6 %}
        #FF0000
    {% else %}
        #8B0000
    {% endif %}
        ">今日可用：￥{{paid_limit}}</span>
</div>

<div style="width: 100%">
    <div id="chart" style="width:100%; height:600px;"></div>
    <script>
        $(function () {
                var chart = echarts.init(document.getElementById('chart'), 'white', {renderer: 'canvas'});

                chart.setOption({{bar|safe}})
        })
    </script>

    {% include 'index/status_table.html' %}

    <div id="chart_usage" style="width:100%; height:600px;"></div>
    <script>
        $(function () {
            var chart = echarts.init(document.getElementById('chart_usage'), 'white', {renderer: 'canvas'});
            chart.setOption({{pie|safe}});
        })
    </script>

</div>
{% endblock %}